<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wilddog.conversation">

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.GET_TASKS" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <!-- TuSDK -->
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <!-- 允许访问GPS -->
    <!-- <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" /> -->
    <!-- 允许应用程序写数据到外部存储设备（主要是SD卡） -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!-- 在sdcard中创建/删除文件的权限 -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <!-- 开启闪光灯权限 -->
    <uses-permission android:name="android.permission.FLASHLIGHT" />

    <uses-feature android:name="android.hardware.camera.flash" />

    <application
        android:name=".ConversationApplication"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@drawable/wilddog"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@drawable/wilddog"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity android:name=".activities.MainActivity" />
        <activity android:name=".activities.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.LoginActivity" />
        <activity android:name=".activities.SDKVersionActivity" />
        <activity android:name=".activities.RecordFileActivity" />
        <activity android:name=".activities.SendInviteActivity" />
        <activity android:name=".activities.CallingActivity" />
        <activity android:name=".activities.PermissionActivity" />
        <activity android:name=".activities.VideoModelActivity" />
        <activity android:name=".activities.InteractModelActivity" android:screenOrientation="landscape"  android:windowSoftInputMode="adjustPan|stateHidden"/>
        <receiver android:name="com.wilddog.client.receiver.WilddogAuthCastReceiver">
            <intent-filter>
                <action android:name="com.wilddog.wilddogauth.signinsuccess" />
                <action android:name="com.wilddog.wilddogauth.signoutsuccess" />
            </intent-filter>
        </receiver>

        <activity android:name=".activities.AcceptActivity" />
        <activity
            android:name=".activities.ConversationActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar" />

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="62b476b8bec312542b8993f36ee2e14400600162" />

        <activity android:name=".activities.DeclarActivity" />
        <activity android:name=".activities.DetailInfoActivity" />

        <service android:name=".floatingwindow.WindowService" />

        <activity android:name=".activities.ReportActivity" />
        <activity android:name=".activities.BlackUsersActivity" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.wilddog.conversation.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity android:name=".activities.JoinRoomActivity"></activity>
    </application>

</manifest>